@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

p {
    padding-bottom: 1vh;
}

div.logo {
    z-index: 666;
    background-image: url(logo.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: clamp(3rem, 1.5000rem + 6.6667vw, 5rem);
    top: 1vh;
    left: 1vw;
}

header {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    color: #eee;
    text-align: center;
    background-image: url(mv.jpg);
    background-size: cover;
    background-position: left;
}

header h1 {
    font-size: clamp(2rem, 0.5000rem + 6.6667vw, 4rem);
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

header h2 {
    font-size: clamp(2rem, 1.6250rem + 1.6667vw, 3rem);
}

header p {
    font-size: clamp(1.2rem, 0.6000rem + 2.6667vw, 2rem);
}

section {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100vh;
    font-size: 1rem;
    color: rgb(30, 30, 34);
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    scroll-snap-stop: always;
}

.content {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    width: 40vw;
    max-width: 700px;
    min-height: 50vh;
    background: rgba(255, 255, 255, 0.5);
    /* text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff; */
    padding: 0.5%;
}

#s1 {
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
}

#s1b {
    background-image: url(1bb.jpg);
    background-size: cover;
    background-position: right;
}

#s1 div img {
    width: 40%;
    float: right;
    padding-right: 0.5vw;
}

#s2 {
    background-image: url(s2.jpg);
    background-color: #aaa;
    background-size: cover;
    background-position: left bottom;
    color: #222;
}

#s2 .content {
    background: none;
}

#s2 .scrolldown {
    color: rgb(51, 50, 50);
}

#s3 {
    background-image: url(s3.jpg);
    background-color: #aaa;
    background-size: cover;
    background-position: left bottom;
    color: #222;
}

#s3 .content {
    background: none;
}

#s3 .scrolldown {
    color: rgb(51, 50, 50);
}

div.spacer {
    height: 50vh;
}

.scrolldown,
header .scrolldown {
    background-image: url(mouse.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
    height: clamp(2rem, -0.2500rem + 10.0000vw, 5rem);
    text-align: center;
    cursor: pointer;
}

#stepContainer {
    display: block;
    width: 100%;
}

.step {
    width: 99%;
    display: flex;
    flex-direction: row;
    height: 5rem;
    color: #fff;
    background-color: rgba(15, 48, 117, 0.445);
    -webkit-box-shadow: 0.6rem 0.6rem 0.2rem 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0.6rem 0.6rem 0.2rem 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0.6rem 0.6rem 0.2rem 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.step .year {
    font-size: 2.5rem;
    vertical-align: top;
    margin-right: 1rem;
}

.step .plan {
    font-size: 0.9rem;
    vertical-align: top;
}

@media only screen and (orientation: portrait) and (max-width: 1000px) {
    .content {
        max-width: 100%;
    }
    section {
        font-size: 2.5rem;
    }
    .step {
        height: 14rem;
    }
    .step .year {
        font-size: 4.5rem;
        vertical-align: top;
        margin-right: 2rem;
    }
    .step .plan {
        font-size: 2rem;
        vertical-align: top;
    }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
    .scrolldown {
        bottom: 45%;
        left: calc(100vw - clamp(2rem, -0.2500rem + 10.0000vw, 5rem));
        width: clamp(2rem, -0.2500rem + 10.0000vw, 5rem);
    }
}