h2, h3, h4, h5 {
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-bg-type: #ffffff00;
}

.table-striped>tbody>tr:nth-of-type(even)>*, tr:nth-child(even) {
  background-color: #ced1d6;
}

.admonitionblock {
  padding: 0.5em;
  background-color: #EEDDDDFF;
}

.icon .title {
  padding: 0.8rem;
  font-weight: 500;
}

.listingblock {
  background-color: #ebe9e9;
}

div:has(> pre code.language-bash) {
  background-color: #2f2e2e;
  color: #45d35f;
}